@layer reset, base, tokens, recipes, utilities;

.grecaptcha-badge {
  visibility: hidden;
}

/* Bright tabs extensions styling */
[data-bright-tab][data-state="inactive"] {
  --tab-background: var(--inactive-tab-background);
  --tab-color: var(--inactive-tab-color);
  --tab-bottom-border: transparent;
  --tab-top-border: transparent;
}
