:root {
  --mono-font: "SF Mono", "Segoe UI Mono", "Roboto Mono", "Ubuntu Mono", "Menlo", "Consolas",
    "Courier", "monospace";

  --color-primary: #e86339;
  --color-primary-dark: #b63c16;
  --color-primary-light: #f5a27a;

  --color-white: #fff;

  --color-neutral-100: #efeeeb;
  --color-neutral-200: #fafafa;
  --color-neutral-300: #f5f5f5;
  --color-neutral-400: #e8e7e3;
  --color-neutral-500: #dcdbd5;
  --color-neutral-600: #c6c3b8;
  --color-neutral-700: #bab7ab;
  --color-neutral-750: #6c6a64;
  --color-neutral-800: #38332e;
  --color-neutral-850: #2e2a26;
  --color-neutral-900: #161412;

  --shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05);

  --font-base-size: 16px;
  --font-base-line-height: 24px;
  --font-base-weight: 400;

  --font-secondary-size: 16px;
  --font-secondary-line-height: 24px;
}

body {
  background-color: #efeeeb;
  color: var(--color-neutral-900);
}

p {
  color: var(--color-neutral-800);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  font-weight: var(--font-base-weight);
}

button {
  font-size: var(--font-secondary-size);
  line-height: var(--font-secondary-line-height);
  font-weight: var(--font-base-weight);
  appearance: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 8px 12px;
  font-family: var(--mono-font);
  box-shadow: var(--shadow);
  white-space: nowrap;
  transition: all 80ms ease-in-out;
}
.primary {
  border: 1px solid var(--color-primary-dark);
  background: var(--color-primary);
  color: var(--color-white);
}
.primary:hover {
  background: var(--color-primary-dark);
}
.primary:disabled {
  border-color: var(--color-neutral-600);
  background: var(--color-neutral-300);
  color: var(--color-neutral-750);
  pointer-events: none;
  box-shadow: none;
}

.secondary {
  background: var(--color-white);
  color: var(--color-neutral-900);
  border: 1px solid var(--color-primary);
}

.secondary:hover {
  background: var(--color-neutral-400);
}

.preview {
  background: var(--color-white);
  color: var(--color-neutral-900);
  border: 1px solid var(--color-neutral-600);
  display: flex;
  align-items: center;
  gap: 8px;
}

input,
select {
  font-size: var(--font-secondary-size);
  line-height: var(--font-secondary-line-height);
  font-weight: var(--font-base-weight);
  font-family: var(--mono-font);
  appearance: none;
  border-radius: 6px;
  border: 1px solid var(--color-neutral-750);
  background: var(--color-white);
  padding: 8px 12px;
  min-width: 208px;
  box-sizing: border-box;
}

select {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.98438 10.3438L7.92188 0.726562H9.3125L5.67969 12H4.21094L0.578125 0.726562H2.02344L4.94531 10.3438H4.98438Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.container {
  max-width: calc(800px + 32px);
  margin: 0 auto;
  padding: 0 16px;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 16px;
}

header {
  margin-bottom: 32px;
}

header p {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

.halo {
  width: 100%;
  height: auto;
  margin-bottom: 64px;
}

.waitlist-form {
  display: flex;
  justify-content: center;
  gap: 8px;
}

h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 16px;
}

h3 {
  font-size: 18px;
  font-weight: 800;
}

.flow-preview {
  min-height: 220px;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid var(--color-neutral-600);
  background: var(--color-neutral-200);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  overflow: hidden;
}
.flow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.flow-state {
  background: var(--color-neutral-400);
  border: 1px solid var(--color-neutral-600);
  border-top: 0;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 48px 0;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-image: url("/images/dot.svg");
}
.flow-state-variant {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.step-block {
  border-radius: 6px;
  border: 1px solid var(--color-neutral-700);
  background: var(--color-neutral-500);
  padding: 8px 12px;
  font-family: var(--mono-font);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.step-block.active {
  border-color: var(--color-primary);
  background-color: var(--color-white);
}

footer {
  margin-top: 80px;
  margin-bottom: 40px;
}
footer a {
  color: var(--color-neutral-900);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .footnote {
  margin-top: 16px;
}

.caption {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}
.footnote,
.footnote a {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-neutral-750);
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 40px;
  margin-top: 32px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.feature-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bottom-cta {
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  border-radius: 6px;
  border: 1px solid #c6c3b8;
  background: #e8e7e3;
}

.bottom-cta h2 {
  margin: 0;
}

.mb80 {
  margin-bottom: 80px;
}

.icon {
  width: 20px;
  height: 20px;
}

.placeholder {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  color: var(--color-neutral-700);
}

.lightning {
  background-image: url("/images/lightning.svg");
}

.settings {
  background-image: url("/images/settings.svg");
}

.chart {
  background-image: url("/images/chart.svg");
}

.crosshair {
  background-image: url("/images/crosshair.svg");
}

.fork {
  background-image: url("/images/fork.svg");
}

hr {
  border: 0;
  border-top: 1px solid var(--color-neutral-600);
  margin: 80px 0;
}

.grecaptcha-badge {
  visibility: hidden;
}

@media (max-width: 768px) {
  :root {
    --font-secondary-size: 14px;
    --font-secondary-line-height: 20px;
  }

  footer {
    margin-top: 40px;
    margin-bottom: 24px;
  }

  .mb80 {
    margin-bottom: 64px;
  }
  .feature-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 32px;
  }

  .bottom-cta {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .flow-state {
    gap: 2px;
  }

  .step-block {
    padding: 4px 6px;
    font-size: 13px;
    line-height: 16px;
    max-width: 90px;
  }

  .flow-state-variant {
    gap: 40px;
  }

  .waitlist-form input {
    min-width: unset;
    width: 100%;
  }
  button {
    padding: 8px;
  }

  hr {
    margin: 56px 0;
  }
}
